services:
  # База данных PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: crypto-tracker-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: crypto_prices
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - crypto-network

  # FastAPI приложение
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: crypto-tracker-app
    ports:
      - "8000:8000"
    volumes: 
        - .:/app
    entrypoint: [ "/entrypoint.sh" ]
    command: ["python", "-m", "src.main"]
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=crypto_prices
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/crypto_prices
      - HOST=0.0.0.0
      - PORT=8000
      - TESTING=False
      - DEBUG=True
      - API_DOCS_ENABLED=true
      - API_TITLE=Crypto Price Tracker API
      - API_VERSION=1.0.0
      - API_DESCRIPTION=API для получения данных о ценах криптовалют с биржи Deribit
      - LOG_LEVEL=INFO
      - LOG_FORMAT=json
      - STRUCTURED_LOGGING=true
      - ENABLE_REQUEST_LOGGING=True
      - ENABLE_EXCEPTION_LOGGING=True
      - ENABLE_BUSINESS_LOGGING=True
      - FETCH_INTERVAL=60
      - DERIBIT_API_URL=https://www.deribit.com/api/v2/public/get_index_price
      - CLIENT_SECRET=
      - CLIENT_ID=
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - crypto-network

volumes:
  postgres_data:


networks:
  crypto-network:
    driver: bridge
