services:
  # База данных PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: crypto-tracker-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: crypto_prices
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - crypto-network

  # Redis для Celery брокера
  redis:
    image: redis:7-alpine
    container_name: crypto-tracker-redis
    ports:
      - "6379:6379"
    volumes: 
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - crypto-network

  # Celery Worker
  celery-worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: crypto-tracker-celery-worker
    entrypoint: ["/usr/local/bin/entrypoint_celery.sh"]
    command: ["celery", "-A", "src.celery_app", "worker", "-l", "info"]
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=crypto_prices
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/crypto_prices
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - FETCH_INTERVAL=60
      - FETCH_SOFT_TIME_LIMIT=55
      - FETCH_RETRY_COUNTDOWN=60
      - FETCH_MAX_RETRIES=3
      - DERIBIT_API_URL=https://www.deribit.com/api/v2/public
      - CLIENT_SECRET=h99vw1dmRsxOSnKvA2jsQtDvfjBAHkOzAvjIPkb3B6Q
      - CLIENT_ID=1vjTur19
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - crypto-network

  # Celery Beat (планировщик задач)
  celery-beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: crypto-tracker-celery-beat
    entrypoint: ["/usr/local/bin/entrypoint_celery.sh"]
    command: ["celery", "-A", "src.celery_app", "beat", "-l", "info"]
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=crypto_prices
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/crypto_prices
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - FETCH_INTERVAL=60
      - FETCH_SOFT_TIME_LIMIT=55
      - FETCH_RETRY_COUNTDOWN=60
      - FETCH_MAX_RETRIES=3
      - DERIBIT_API_URL=https://www.deribit.com/api/v2/public
      - CLIENT_SECRET=h99vw1dmRsxOSnKvA2jsQtDvfjBAHkOzAvjIPkb3B6Q
      - CLIENT_ID=1vjTur19
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - crypto-network

  # FastAPI приложение
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: crypto-tracker-app
    ports:
      - "8000:8000"
    volumes:
        - .:/app
    entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
    command: ["python", "-m", "src.main"]
    environment:
      - PYTHONPATH=/app
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=crypto_prices
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/crypto_prices
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - HOST=0.0.0.0
      - PORT=8000
      - TESTING=False
      - DEBUG=True
      - API_DOCS_ENABLED=true
      - API_TITLE=Crypto Price Tracker API
      - API_VERSION=1.0.0
      - API_DESCRIPTION=API для получения данных о ценах криптовалют с биржи Deribit
      - LOG_LEVEL=INFO
      - LOG_FORMAT=json
      - STRUCTURED_LOGGING=true
      - ENABLE_REQUEST_LOGGING=True
      - ENABLE_EXCEPTION_LOGGING=True
      - ENABLE_BUSINESS_LOGGING=True
      - FETCH_INTERVAL=60
      - DERIBIT_API_URL=https://www.deribit.com/api/v2/public
      - CLIENT_SECRET=h99vw1dmRsxOSnKvA2jsQtDvfjBAHkOzAvjIPkb3B6Q
      - CLIENT_ID=1vjTur19
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - crypto-network

volumes:
  postgres_data:
  redis_data:

networks:
  crypto-network:
    driver: bridge
